@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

* {
    font-family: "IosevkaTerm Nerd Font";
    font-size: 18px;
}

window#waybar {
    background-color: #171717;
    color: #CCCCCC;
}

#workspaces button {
    padding: 0 6px;
    color: #999999;
    background: transparent;
    /*border-bottom: 3px solid #171717;*/
}

#workspaces button.active {
    color: @white;
    /*border-bottom: 3px solid @white;*/
}
#workspaces button.empty {
    color: #999999;
}
#workspaces button.empty.active {
    color: @white;
    /*border-bottom: 3px solid @mag;*/
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    /*background: inherit;*/
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
    padding: 0 5px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: #CCCCCC;
    /*border-bottom: 4px solid @cyn;*/
}

#battery {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    color: #CCCCCC;
    /*border-bottom: 4px solid @ylw;*/
}

#tray {
    background-color: transparent;
}

